<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>요식업 project</title>
</head>
<body>
    <center><h1>요식업 자료</h1></center>
    
    
    <center>
        <form action="/servise/" method="POST">
        <button type="submit", value="Button"> 2021 요식업 </button>
        </form></center>
<!--버튼을 누르면post로 요청을 하게 되어있다그것을/servise/와 연결한것-->
    <center>
        <form action="/graph/" method="POST">
        <button type="submit", value="Button"> 외식산업 경기동향 지수 </button>
        </form></center>
    


</body>
</html>